[Unit]
Description=Check for Wibble updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
RandomizedDelaySec=20s
Persistent=true

[Install]
WantedBy=timers.target
