{% extends "base.html" %}

{% block content %}
<ul class="news-list">
  {% if lead_item is defined %}
  <li>
    <section>
      {% if lead_item.image_id %}<img src="/image/{{ lead_item.image_id }}" alt="">{% endif %}
      <h2><a href="{{ locale_prefix }}/content/{{ lead_item.slug }}">{{ lead_item.title }}</a></h2>
      <time>{{ lead_item.created_at }}</time>
      <p>{{ lead_item.description }}</p>
    </section>
  </li>
  {% endif %}
  {% for i in secondary_items %}
  <li>
    <section>
      {% if i.image_id %}<img src="/image/{{ i.image_id }}" alt="">{% endif %}
      <h2><a href="{{ locale_prefix }}/content/{{ i.slug }}">{{ i.title }}</a></h2>
      <time>{{ i.created_at }}</time>
      <p>{{ i.description }}</p>
    </section>
  </li>
  {% endfor %}
</ul>

{% if has_more %}
<footer class="pager"><a href="{{ load_more_url }}">Next Page</a></footer>
{% endif %}
{% endblock content %}
