DATABASE_URL=postgresql://wibble:password@127.0.0.1:5432/wibble
NEXTAUTH_SECRET=
SSO_CLIENT_SECRET=
ADMIN_EMAIL=
OPENAI_API_KEY=
OPENROUTER_API_KEY=
SAFETY_IDENTIFIER_SECRET=
REPLICATE_API_TOKEN=
LOGGLY_TOKEN=
