DATABASE_URL=
REACT_ADMIN_PASSWORD=
SDH_KEY=
DISABLE_WORKERS=
JWT_SECRET=
OPENAI_KEY=
GOOGLE_CLIENT_ID= <YOUR GOOGLE CLIENT ID>
GOOGLE_CLIENT_SECRET=<YOUR GOOGLE CLIENT SECRET>
NEXTAUTH_URL=https://wibble.news